node_modules
dist
build
*.db
.npmrc
*.db-journal
.env
.env.Deltacore
.logs/
.tls/
.certs/
.DS_Store
apps/frontend/dist
apps/backend/data/
infrastructure/odbc/odbc.ini
infrastructure/odbc/odbcinst.ini
